{% extends 'auth2/base.html' %}
{% load staticfiles %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <h3 class="h3 mb-3 font-weight-normal">{{ title }}</h3>

    {% for error in form.non_field_errors %}
        <div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
                <strong class="mr-auto">Error</strong>
                <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="toast-body">
                {{ error }}
            </div>
        </div>
    {% endfor %}

    <form method="post">
        {% csrf_token %}

        <label class="sr-only" for="id_correo_electronico">{{ form.email.label }}</label>
        <input type="email" name="email" title="" required="" autofocus
               class="form-control {% if form.email.errors %}is-invalid{% endif %}" id="id_correo_electronico"
               placeholder="{{ form.email.label }}" value="{{ form.email.value|default:'' }}">
        <div class="invalid-feedback">{{ form.email.errors }}</div>

        <button class="btn btn-lg btn-primary btn-block mt-3" type="submit">Iniciar</button>

        <div class="mt-4">
            <a href="{% url 'auth2:login' %}">Iniciar sesión</a>
        </div>

    </form>
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        $(function () {
            var t = $('.toast');
            t.toast({
                delay: 3000
            });
            t.toast('show');
        });
    </script>
{% endblock %}