{% extends 'descargadorweb/base.html' %}

{% load staticfiles %}

{% block title %}
    Contacto completo
{% endblock %}

{% block main %}
    <main role="main" class="inner cover">
        <p class="lead pt-4">
            Gracias por ponerse en contacto, responderemos lo antes posible
        </p>

        <p class="lead">
            <a href="{% url 'auth2:signup' %}" class="btn btn-lg btn-secondary">Empezar Ahora</a>
        </p>

        <p class="lead">
            <a href="{% url 'auth2:login' %}" class="">Ya tengo un usuario</a>
        </p>
    </main>
{% endblock %}