<header class="masthead mb-auto">
    <div class="inner">
        <h3 class="masthead-brand"><a href="{% url 'descargadorweb:index' %}">Descargador</a></h3>
        <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link" href="{% url 'descargadorweb:index' %}">Inicio</a>
            <a class="nav-link" href="{% url 'descargadorweb:caracteristicas' %}">Características</a>
            <a class="nav-link" href="{% url 'descargadorweb:contacto' %}">Contacto</a>
        </nav>
    </div>
</header>